{% extends 'myapp/base.html' %}

{% block content %}
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 gap-3">
    {% for item in items %}
      <a href="{% url 'myapp:detail' item.id %}">
        <div class="rounded overflow-hidden shadow-lg">
          <img class="w-full" src="{{ item.image.url }}" alt="" />
          <div class="px-6 py-4">
            <p>{{ item.name }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
